body {
    background-color: black;
    color: white;
  }
  
  body h1{
    Font-family: "Times New Roman", Times, serif;
  }
  
  body p{
    Font-family: "Times New Roman", Times, serif;
  }
  
  #egg {
    width: 5%;
    height: 5%;  
  }

  #table table,th,td {
    border: 1px;
    border-style: solid;
  }

  #table {
    border-style: double;
  }