/* ---- CSS Demo ---- */


/* Color Theme Swatches in Hex */


/* ---- Box Sizing ---- */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*  --------------- Responsive Images -----------------  */

img {
    max-width: 100%;
}


/*  --------------- Global Styles -----------------  */

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*  --------------- Utility Classes -----------------  */

.container {
    max-width: 960px;
    width: 80vw;
    margin: 40px auto;
}

.img-right {
    float: right;
    margin: 10px 0 10px 20px;
    border: 1px solid #c0c0c0;
    padding: 5px;
    border-radius: 50px;
}

.img-left {
    float: left;
    margin: 10px 20px 10px 0;
    border: 1px solid #c0c0c0;
    padding: 5px;
    border-radius: 50px;
}

.img-center {
    display: block;
    margin: 20px auto;
    border: 1px solid #c0c0c0;
    padding: 5px;
    border-radius: 50px;
}

/* ---------------- Primary Heading ----------------- */

header.primary {
    color: #D9CE3B;
    text-align: center;
    padding: 20px 40px;
}

header.primary .hgroup h1 {
    font-size: 4rem;
    margin: 20px 0 0;
}

header.primary .hgroup h1 a {
    color: #000000;
    text-decoration: none;
}

header.primary .hgroup h2 {
    margin: 0;
    font-size: 2rem;
    color: #000000;
}

header.primary nav {
    max-width: 900px;
    margin: 15px auto;

}

header.primary ul {
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

header.primary nav ul li {
    list-style-type: none;

}

header.primary nav a {
    color: #fff;
    text-decoration: none;
    background-color: black;
    background-color: rgba(0, 0, 0, .5);
    padding: 5px 20px;
    border-radius: 50px 4px;
    border: 2px ridge #1A4027;
    transition: 0.3s;
}

header.primary nav a:hover {
    background-color: rgba(0, 0, 0, .7);
}

/* ---------------- Content ----------------- */


section.container #lists {
    background-color: #D9CE3B;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    justify-content: space-around;
}

section.container #lists h4 {
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 20px 0;
    background-color: rgb(0, 255, 255);
}

section.container #lists ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 255);
    padding: 0px;
    list-style-type: none;
    border: 2px solid #000000;
}

section.container #lists ul li {
    background-color: rgb(0, 255, 255);
    margin: 20px 0;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
}

section.container #lists details {
    background-color: rgb(255, 0, 157);
    margin: 20px 0;
    padding: 10px;
    border: 2px solid #000000;
    /*background-color: #00000027;*/
    border-radius: 10px;
}